.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.App-logo-reverse {
  height: 80px;
  animation: App-logo-spin-reverse infinite 2s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-spin-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
